/* shared style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background-color: #469165;
    border: none;
    border-radius: 5px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.just-btn {
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
    background: none;
    cursor: pointer;
}

/* main style */
nav {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;

}

nav .logo {
    margin: 16px 120px;
}

nav .nav-links .links {
    display: flex;
    list-style: none;
    gap: 32px;
}

nav .nav-links .links a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500px;
}

.link-btn {
    margin-right: 120px;
}

#banner {
    /* border: 1px solid red; */
    margin: 0;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#banner .banner-content {
    /* border: 1px solid yellow; */
    width: 66%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding: 115.5px 120px 179.5px 120px;
}

.early-access {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    background: #FFFFFF;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 600;
    color: #469165;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 16px;

}

.early-access .dot {
    width: 10px;
    height: 10px;
    background: #30B868;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(70, 145, 101, 1);
}

#banner .banner-content h1 {
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}

#banner h1 span {
    color: #30B868;
}

#banner p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.button-content {
    display: flex;
    justify-content: center;
    gap: 16px;
}

#notes .notes-contain {
    width: 66%;
    max-width: 1360px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.notes-info {
    text-align: center;
    margin: 0 auto;
}

#notes .notes-contain .info-box {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    color: #FFFFFF;
}

.info-box .info-card {
    padding: 69px 24px;
    /* border: 1px solid yellow; */
    box-shadow: 0 2px 8px 0 #00000028;
    max-width: 322px;
}


.icon-box {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    place-items: center;
    margin: 0 auto 18px;
}

.icon-box img {
    width: 32px;
    height: 32px;
}

.info-card h4 {
    font-size: 24px;
    font-weight: 600px;
    color: #001931;
    text-align: center;
    margin-bottom: 16px;
}

.info-card p {
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
    text-align: center;
}

#solution {
    padding-top: 120px;
    padding-bottom: 120px;
}

#solution .solution-flex {
    width: 66%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 60px;
    place-items: center;
}

.solution-container h6 {
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
}

.solution-container h1 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.solution-container p {
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.solution-container .solution-text li {
    display: flex;
    align-items: center;
    gap: 6px;
    list-style: none;
    font-size: 16px;
    font-weight: 500px;
    color: #001931;
    margin-bottom: 16px;
}

#challenge {
    padding-bottom: 120px;
}

#challenge .challenge-contain {
    width: 66%;
    max-width: 1360px;
    margin: 0 auto;
    place-items: center;
    background-color: #F7F6F2;
}

.challenge-contain h1 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.challenge-contain p {
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

.challenge-contain .buttons {
    margin-bottom: 16px;
}

.challenge-contain .foot {
    line-height: 20px;
    padding-bottom: 80px;

}

#footer-contain {
    background-color: #001931;
    padding-top: 120px;
}

#footer-contain .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 790px;

}

#footer-contain .media p {
    font-size: 20px;
    font-weight: 500px;
    line-height: 28px;
    color: #FFFFFF;
    padding-bottom: 18px;
}

.icons-media i {
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
    place-items: center;
    margin: 0 auto;
    margin-right: 6px;

}

#footer-contain .copyright p {
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    color: #FAFAFA;
    text-align: center;
    padding-bottom: 30px;
}